*{
    font-family: 'Poppins', sans-serif;
}
.container{
    
    max-width: 60%;
    max-height: 10%;
    min-width: 60%;
    min-width: 10%;
    margin: auto;
}
.post{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2em;
    row-gap: 2em;
    grid-template-rows: minmax(60%, 60%);
    margin: 80px;

    /* From https://css.glass */
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    border-radius: 20px;
    padding: 10px;

}

.post > .user{
    align-items: center; 
    justify-content: center;
    margin: auto;
}
.post > .price{
    align-items: center; 
    justify-content: center;
    margin: auto;
}
.post > .limit{
    align-items: center; 
    justify-content: center;
    margin: auto;
}
.post > .pago{
    align-items: center; 
    justify-content: center;
    margin: auto;
}
.post > .ButtonAction{
    align-items: center; 
    justify-content: center;
    margin: auto;
}

.post > .divPicture{
    align-items: center; 
    justify-content: center;
    margin: auto;
}

.profilePicture{
    background-color: blueviolet;
    border-radius: 100px;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.singleMethod{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 8px;
    text-align: center;
    max-width: 100%;
    max-height: 20%;
    font-size: 10px;
    font-weight: bold;
    
    
}
.optionSelected{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px   ;
    
}

.buy{
    background-color: green;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.sell{
    background-color: red;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.pPago{
    margin: 8px;
    padding: 5px;
    
}

/* CSS */
.btnAction {
  appearance: button;
  backface-visibility: hidden;
  
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;

  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

  max-width: 110%;
  max-height: 110%;
  font-size: 70%;
}

.btnAction:disabled {
  cursor: default;
}

.btnAction:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}



header > nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 50%;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin: auto;

}

.btnOption{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 5px;
cursor: pointer;
}

.btnOption:hover{
    transition: all .3s;
    background-color: #fdca23;
}

.btnOption:not(:hover){
    transition: all .3s;
}

@media only screen and (max-width : 900px) {
    .post{
        grid-template-columns: auto;
        width: 100%;
        margin: 20px auto ;
        align-content: center;
        text-align: center;
        padding: 10px;
        padding-top: 0;
      
        row-gap: 1em;
        grid-template-rows: minmax(100%, 100%);
    }

    header > nav{
        max-width: 100%;
    }

    .singleMethod{
        font-size: 60%;
        margin:  10px auto;
        padding: 10px;
    }
    .profilePicture{
        display: none;
    }


}
